<!doctype html>
<html>
    <head>
        <title>Potessintese</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>
        <div class="container text-center">
            <nav class="navbar mb-2">
                <div class="container-fluid">
                    <span class="navbar-brand mb-0 h1">
                        <img src="/static/temp-1.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top" id="logo">
                        Potessintese dashboard
                    </span>
                </div>
            </nav>
            <div class="row">
                <div class="col-9">
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="selectPlant">
                        <option selected>Selecione uma planta</option>
                        {% for idx, item in listFlowers %}
                            <option value="{{idx}}">{{ item['Name']}}</option>
                        {% endfor %}
                      </select>
                </div>
                <div class="col-3">
                    <button class="btn btn-primary" type="button" id="btnConfirmPlant" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                        Confirm
                    </button>
                    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                        <div class="offcanvas-header">
                          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Description</h5>
                          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                          <div id="offcanvas-text">
                            Lorem ipsum.
                          </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Plant status
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <ul class="list-group">
                                    <li class="list-group-item">Water: <span id="waterStatusText">OK</span></li>
                                    <li class="list-group-item">Light: <span id="lightStatusText">OK</span></li>
                                    <li class="list-group-item">Temperature: <span id="temperatureStatusText">OK</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Manual operations
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                Water pump: 
                                <button class="btn btn-primary custom_btn" type="button" id="btnManualWater">
                                    Activate
                                </button> <br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Statistics
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <div class="card-text">
                                    <ul class="list-group">
                                        <li class="list-group-item">Humidity: <span id="waterStatusValue">1000</span> humidity units</li>
                                        <li class="list-group-item">Luminosity: <span id="lightStatusValue">2500</span> Lumens</li>
                                        <li class="list-group-item">Temperature: <span id="temperatureStatusValue">19</span> ºC</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="static/jquery.AshAlom.gaugeMeter-2.0.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script>
            // <span id="tempAnterior">--</span>
            var temperatura_anterior =  document.getElementById('tempAnterior');
            var luminosidade_anterior = document.getElementById('lumAnterior');
            var botaoAtualizar = document.getElementById('btnManualWater');
            var botaoConfirmarPlanta = document.getElementById('btnConfirmPlant');
            var offcanvas_text = document.getElementById('offcanvas-text');

            var water_status_text = document.getElementById('waterStatusText');
            var light_status_text = document.getElementById('lightStatusText');
            var temperature_status_text = document.getElementById('temperatureStatusText');

            var water_status_value = document.getElementById('waterStatusValue');
            var light_status_value = document.getElementById('lightStatusValue');
            var temperature_status_value = document.getElementById('temperatureStatusValue');

            function get_data() {
                fetch(`{{url}}/get/dados/`, { method: "GET"}).then(
                    response => response.json()
                ).then( 
                    (data) => {
                        water_status_text.innerText = data.agua ? data.agua : water_status_text.innerText;
                        light_status_text.innerText = data.luz ? data.luz : light_status_text.innerText;
                        temperature_status_text.innerText = data.temperatura ? data.temperatura : temperature_status_text.innerText;

                        water_status_value.innerText = data.dados ? data.dados[2] : water_status_value.innerText;
                        light_status_value.innerText = data.dados ? data.dados[1] : light_status_value.innerText;
                        temperature_status_value.innerText = data.dados ? (data.dados[0] != "-1" ? data.dados[0] : temperature_status_value.innerText) : temperature_status_value.innerText;
                    }
                );
                return
                //get_luminosidade()
                //get_temperatura()
            }
            setInterval(get_data, 4000)
            function verify_pump() {
                fetch(`{{url}}/get/verify/`, { method: "GET"});
            }
            setInterval(verify_pump, 120000)

            function set_pump(event) {
                fetch(`{{url}}/set/pump/`, { method: "GET"});
            }

            function atualiza_info_menu(event) {
                var selector = document.getElementById('selectPlant');
                var selectedIndex = selector.selectedIndex;
                var option = selector.options[selectedIndex];
                fetch(`{{url}}/plant/${option.value}/`, { method: "GET"}).then(
                    response => response.json()
                ).then( 
                    (data) => {
                        console.log(data);
                        offcanvas_text.innerHTML = data?.Desc;
                    }
                );
            }
            botaoAtualizar.addEventListener('click', set_pump);
            botaoConfirmarPlanta.addEventListener('click', atualiza_info_menu);
        </script>
    </body>
    <style>

        .custom_btn {
            --bs-btn-padding-y: .15rem; 
            --bs-btn-padding-x: .25rem; 
            --bs-btn-font-size: .75rem;
        }
    </style>
</html>